<h1>AppComponent</h1>

<button type="button" routerLink="">Home</button>
<button type="button" routerLink="template-tuto">Template</button>
<button type="button" routerLink="input-output">Input/Output</button>
<button type="button" routerLink="subject">Subject</button>
<button type="button" routerLink="view-encapsulation">ViewEncapsulation</button>
<button type="button" routerLink="params/456" [queryParams]="{qp: 3}">Params / QueryParams / Data = params/456?qp=3</button>

<router-outlet></router-outlet>
