.red {
  background: #cc5e5e;
}

pre {
  border: 1px solid grey;
  border-radius: 5px;
  background: lightgrey;
  padding: 1px;
}

code {
  border: 1px solid red;
  background: #ffa7a7;
  padding: 0 3px;
  border-radius: 4px;
}
