<button type="button" routerLink="123" [queryParams]="{qp: 5}">params/123?qp=5</button>
<button type="button" routerLink="789" [queryParams]="{qp: 10}">params/789?qp=10</button>

<table style="width: 500px;">
  <tr>
    <td style="width: 100px;">data</td>
    <td>
      <pre>{{data | json}}</pre>
    </td>
  </tr>
  <tr>
    <td style="width: 100px;">parentData</td>
    <td>
      <pre>{{parentData | json}}</pre>
    </td>
  </tr>
  <tr>
    <td style="width: 100px;">params</td>
    <td>
      <pre>{{params | json}}</pre>
    </td>
  </tr>
  <tr>
    <td style="width: 100px;">queryParams</td>
    <td>
      <pre>{{queryParams | json}}</pre>
    </td>
  </tr>
</table>

<p>children</p>

<router-outlet></router-outlet>
